html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.5;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.ai-c {
  align-items: center;
}

.bg-black {
  background: #000;
}

.c-white {
  color: white;
}

.d-f {
  display: flex;
}

.d-b {
  display: block;
}

.fw-b {
  font-weight: bold;
}

.fxw-w {
  flex-wrap: wrap;
}

.jc-sb {
  justify-content: space-between;
}

.lh-large {
  line-height: 1.75;
}

.lh-small {
  line-height: 30px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-7 {
  margin-bottom: 56px;
}

.ta-c {
  text-align: center;
}

.jc-c {
  justify-content: center;
}

.fz-small {
  font-size: 20px;
}

.h1 {
  font-size: 80px;
  line-height: 106px;
}

.h2 {
  font-size: 64px;
  line-height: 84px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  background: url(/images/banner.png) center/cover;
  height: 958px;
}

.about {
  padding: 56px 0 28px 0;
}

.about__titleList {
  margin-bottom: 56px;
}

.about__titleList__item {
  margin-bottom: 28px;
}

.about__titleList__item::before {
  content: '';
  display: inline-block;
  height: 22px;
  width: 22px;
  background: #891818;
  border-radius: 100%;
  margin-right: 16px;
  vertical-align: middle;
}

.about__photo {
  margin-bottom: 20px;
}

.about__line {
  width: 384px;
  height: 1px;
  background: #000;
  margin: 0 auto 28px;
}

.brand {
  padding: 56px 0 160px 0;
}

.work {
  padding: 56px 0 96px 0;
}

.contact {
  padding: 64px 0;
}

.card {
  margin-bottom: 48px;
}

.card__photo {
  margin-bottom: 16px;
}

.card__body {
  font-size: 20px;
  line-height: 42px;
}

.p-mb-68 {
  margin-bottom: 68px;
}

.p-mb-12 {
  margin-bottom: 12px;
}
/*# sourceMappingURL=all.css.map */