.container {
    width: 1200px;
    margin: 0 auto;
}

.banner {
    background: url(/images/banner.png) center/cover;
    height: 958px;
}

.h1 {
    font-size: 80px;
    line-height: 106px;
}

.h2 {
    font-size: 64px;
    line-height: 84px;
}

.about {
    padding: 56px 0 28px 0;
    &__titleList {
        margin-bottom: 56px;
        li {
            margin-bottom: 28px;
            &::before {
                content: '';
                display: inline-block;
                height: 22px;
                width: 22px;
                background: #891818;
                border-radius: 100%;
                margin-right: 16px;
                vertical-align: middle;
            }
        }
    }
    &__photo {
        margin-bottom: 20px;
    }
    &__line {
        width: 384px;
        height: 1px;
        background: #000;
        margin: 0 auto 28px;
    }
}

.brand {
    padding: 56px 0 160px 0;
}

.work {
    padding: 56px 0 96px 0;
}

.contact {
    padding: 64px 0;
}

.card {
    margin-bottom: 48px;
    &__photo {
        margin-bottom: 16px;
    }
    &__body {
        font-size: 20px;
        line-height: 42px;
    }
}

.p-mb-68 {
    margin-bottom: 68px;
}

.p-mb-12 {
    margin-bottom: 12px;
}